* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.btn {
  height: 40px;
  width: 80px;
  margin: 0 10px;
}

#main-container {
  width: 700px;
  display: flex;
  justify-content: center;
}
